# Virtual environments
venv/
.venv/

# Python cache and compiled files
__pycache__/
*.py[cod]

# macOS
.DS_Store

# Editor directories
.vscode/
.idea/

# Environment files
.env

# Model files (large binaries not meant for git)
yolov8n.pt

# Logs and temporary files
logs/
*.log

# Test and notebook caches
.pytest_cache/
.ipynb_checkpoints/

# SQLite DBs
*.sqlite3

# Video files
*.MOV
*.mov
*.mp4
*.avi
*.mkv
*.webm
*.jpg
*.cache
*.txt
*.yaml